*.php~
/App/vendor/*
/App/config/app.php
/App/tmp/*
/App/logs/*
/App/webroot/coverage/
/App/.idea/workspace.xml
/App/.idea/tasks.xml
/App/.idea/*.iws
/App/webroot/reports/coverage/
/App/webroot/reports/testdox.html
/App/nbproject/private/