body {
    font-family: 'Nunito', sans-serif;
}

.stat {
    height: 150px;
    background-image: url("/img/stat-bg.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.stat .value {
    padding-top: 8px;
    height: 100px;
    margin-bottom: 20px;
    font-family: 'Anton', sans-serif;
}

.stat .name {
    padding-top: 0px;
    color: white;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

.stat .value .stat_edit_button {
    font-size: 20px;
    vertical-align: middle;
	padding: 0;
	margin: 0;
}

.stat .value .stat_edit_value {
    font-size: 5em;
    vertical-align: middle;
}

.btn-skill-adjust {
    border: 0;
    padding: 0;
}

.increase {
    color: green;
    cursor:pointer;
}

.decrease {
    color: red;
    cursor:pointer;
}

.soak {
    height: 115px;
    background-image: url("/img/stat-single.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.soak .name {
    padding-top: 8px;
    height: 10px;
    color: white;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

.soak .value {
    padding-top: 10px;
    font-size: 4em;
    font-family: 'Anton', sans-serif;
}

.strain {
    height: 115px;
    background-image: url("/img/stat-double.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.strain .name {
    padding-top: 8px;
    height: 10px;
    color: white;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

.strain .subtitle {
    padding-top: 5px;
    padding-left: 10px;
    height: 10px;
    color: white;
    font-size: 13px;
    font-family: 'Nunito', sans-serif;
}

.strain .value {
    padding-top: 10px;
    font-size: 4em;
    font-family: 'Anton', sans-serif;
    height: 80px;
}
