body {
    font-family: 'Nunito', sans-serif;
}

i {
    font-style: normal;
}

.stat {
    height: 150px;
    background-image: url("/img/stat-bg.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.stat .value {
    padding-top: 8px;
    height: 100px;
    margin-bottom: 20px;
    font-family: 'Anton', sans-serif;
}

.stat .name {
    padding-top: 0px;
    color: white;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

.stat .value .stat_edit_button {
    font-size: 20px;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

.stat .value .stat_edit_value {
    font-size: 5em;
    vertical-align: middle;
}

/*.group_view > div {*/
    /*font-size: 20px;*/
    /*vertical-align: middle;*/
    /*border: 0;*/
    /*padding: 0;*/
/*}*/
/**/
.group_view .buttons {
    padding-left: 0;
}

.group_view .adjust > div {
    /*padding: 0;*/
    /*line-height: 0.5em;*/
}

/*.group_view .btn-skill-adjust {*/
    /*font-size: 0.4em;*/
    /*vertical-align: middle;*/
/*}*/

.increase {
    color: green;
    cursor: pointer;
}

.decrease {
    color: red;
    cursor: pointer;
}

.group_view .title,
.status_block .name {
    background-color: #B86533;
    color: white;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

.group_view .subtitle,
.status_block .subtitle {
    background-color: #2D3F49;
    color: white;
    font-size: 13px;
    font-family: 'Nunito', sans-serif;
    /*text-align: left;*/
}

.status_block .subtitle div:nth-child(1) {
    /*text-align: right;*/
}

.group_view .name,
.group_view .value,
.status_block .value {
    font-size: 4em;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

.group_view .species {
    margin-top: -1em;
    font-family: 'Anton', sans-serif;
    font-size: 1em;
}

.public {
    color: green;
}

.private {
    color: red;
}
